
  .animated-text {
    display: inline-block;
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
    overflow-y: scroll;
    scrollbar-width: none; /* Hide scrollbar */
    max-height: 12em;
    min-height: 6em;
    padding: 0.5em 0;
  }  .cursor {
    animation: blink 1s infinite step-start; /* Cursor blinking animation */
    display: inline-block; /* Ensure cursor is on the same line */
  }
  .cardBox {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
  }

  .cardTitle {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    border-bottom: #000 solid 1px;
    padding: 1px;
  }

  button {
    border: 1px solid;
  }
  .single-line > * {
    display: inline; /* Or display: inline-block; */
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}
.company {
  font-weight: bold;
}

  .placeholder {
    color: #888888;
    font-size: 1em;
    font-style: italic;
    padding: 0.5em 0;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }